# Time Series de Demanda de Viento en Uruguay

In [15]:
# Importamos las clases

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Carga de datos y primer pantallazo

In [28]:
# Cargamos los datos de Demanda y Viento

data = pd.read_csv('Data\DemoHoraria_v2.csv')

In [29]:
# Pantallazo Inicial

display(data.head())
print(data.info(), '\n')

       data_hora   Demanda_MW  Vel_viento
0  2015-10-01 02  1032.749657   29.901389
1  2015-10-01 03   960.611900   17.304258
2  2015-10-01 04   938.911828    8.709460
3  2015-10-01 05   943.277163    7.253912
4  2015-10-01 06   977.780929   16.470050

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65535 entries, 0 to 65534
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   data_hora   65535 non-null  object
 1   Demanda_MW  65535 non-null  float64
 2   Vel_viento  65535 non-null  float64
dtypes: float64(2), object(1)
memory usage: 1.5+ MB
None

* Datos de Demanda y Velocidad por hora
* Ambos del tipo Float

In [30]:
# Que rango de datos tenemos
print('Minimo:\n', data.iloc[0], '\n')
print('Maximo:\n', data.iloc[-1])

Minimo:
 data_hora     2015-10-01 02
Demanda_MW      1032.749657
Vel_viento        29.901389
Name: 0, dtype: object

Maximo:
 data_hora     2023-03-23 16
Demanda_MW      1531.515849
Vel_viento         7.874173
Name: 65534, dtype: object

* Desde 2015/10 hasta 2023/03

In [32]:
# Cargamos los datos de Viento

data_temp = pd.read_excel('Data\data_temperatura.xlsx')

In [33]:
# Pantallazo inicial

display(data_temp.head())
print(data_temp.info(), '\n')

                Fecha  Temperatura
0 2020-01-01 00:00:00         21.0
1 2020-01-01 01:00:00         21.0
2 2020-01-01 02:00:00         20.8
3 2020-01-01 03:00:00         20.6
4 2020-01-01 04:00:00         20.6

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26304 entries, 0 to 26303
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fecha        26304 non-null  datetime64[ns]
 1   Temperatura  26304 non-null  float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 411.1 KB
None

* Con respecto a la Temperatura, tambien los tenemos por Hora y del tipo Float

In [37]:
# Rango para los datos de Temperatura
print('Minimo:\n', data_temp.iloc[0], '\n')
print('Maximo:\n', data_temp.iloc[-1])

Minimo:
 Fecha          2020-01-01 00:00:00
Temperatura                   21.0
Name: 0, dtype: object

Maximo:
 Fecha          2022-12-31 23:00:00
Temperatura                   20.3
Name: 26303, dtype: object

* Pero solo tenemos datos desde 2020/01 hasta 2022/12 inclusive

## Preguntas para el equipo

* Ale, podes conseguir los datos de temperatura desde el 2015? De no ser asi, analizamos solo 2020/21/22?
* Definamos ahora si trbajamos con corte por hora o por dia. Tengamos en cuenta cual es el objectivo, que vamos a predecir?
* Tenemos solo dos variables hexogenas (Viento y Temperatura). Es suficiente para AutoML?
* Les para usar PyCaret? Quiere alguno hacer otro projecto paralelo con las mismas definiciones pero usando otra libreria?